// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {
  display: flex;
  justify-content: center;

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    //flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: $screen-md) {
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    padding: 0.5em;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    color: $text-color;
    border: 2px solid $gray-superlight;

    & + & {
      border-left: 0;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: $main-color;
      color: $title-color;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {
        border-color: $main-color;
      }
    }

    &--next,
    &--prev {
      padding-top: 0.4em;

      svg {
        display: inline-block;
        width: 8px;
        fill: currentColor;

        @media (min-width: $screen-md) {
          width: 10px;
        }
      }
    }

    &--prev {
      svg {
        transform: scaleX(-1);
      }
    }

    &--active {
      background-color: $gray-lightest;
    }

    @media (min-width: $screen-md) {
      width: 50px;
      height: 50px;
      padding: 0.35em;
      font-size: 28px;
    }
  }
}
