// Этот блок ответственен ТОЛЬКО за типографику проекта.
// Не пишите тут какую-либо стороннюю стилизацию.

$gray:                        hsl(0, 0%, 50%) !default;
$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-family--headings:       $font-family !default;

$font-size:                   14px !default;
$font-size--small:            0.75em !default;

$line-height:                 1.35em !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$border-color:                hsl(0, 0%, 60%) !default;

$screen-sm:                   480px !default;

$border-radius:               3px !default;

body {
  // ТОЛЬКО типографика!
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  color: $text-color;
}

// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--headings;
  line-height: $line-height;
  color: $title-color;
  text-transform: uppercase;
}

// .h1,
// .h2,
// .h3,
h1,
h2 {
  position: relative;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  @include dubble-line(-30px, 50%, -50%, -1);

  @media (min-width: $screen-md) {
    margin-bottom: 90px;
    font-size: 27px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 90px;
    font-size: 32px;
  }
}

h3 {
  margin-top: $line-height;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 600;

  @media (min-width: $screen-md) {
    font-size: 20px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 22px;
  }
}

h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: ($line-height / 2);
  margin-bottom: 25px;

  @media (min-width: $screen-md) {
    font-size: 18px;
    margin-bottom: 30px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 20px;
  }
}

// .p,

p {
  margin-top: 0;
  margin-bottom: ($line-height / 2);
  font-size: 14px;
  font-weight: 400;
  hyphens: auto;

  @media (min-width: $screen-md) {
    font-size: 16px;
  }

  @media (min-width: $screen-xl) {
    font-size: 18px;
  }
}

ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  font-size: 14px;
  font-weight: 400;
  margin-top: ($line-height / 2);
  margin-bottom: ($line-height / 2);
}

a {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $main-color;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-skip: ink;
  }
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 0;

  @media (min-width: $screen-sm) {
    margin-left: 1.8em;
  }

  & + dt {
    margin-top: ($line-height / 2);
  }
}

hr {
  margin-top: $line-height;
  margin-bottom: $line-height;
  border: 0;
  border-top: 1px solid $border-color;
}

// .small,
small {
  font-size: $font-size--small;
}

sub,
sup {
  font-size: 70%;
}

// .mark,
mark {
  background: #fcf8e3;
  padding: 0.1em 0.3em;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  tab-size: 2;
}
