// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.page-header {
  position: relative;
  height: 568px;
  background-color: $bg-dark;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% top;

  .container {
    position: relative;
    z-index: 1;
  }

  &::before {
    @include header-overlay;
  }

  @media (min-width: $screen-md) {
    height: 580px;
    background-position: 50% 50%;
  }

  @media (min-width: $screen-xl) {
    height: 600px;
  }

  $block-name:                &; // #{$block-name}__element

  &__body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 77px);
    padding-bottom: 25px;

    @media (min-width: $screen-md) {
      padding-bottom: 60px;
    }
  }

  &__body-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;

    svg {
      width: 130px;
      height: 56px;
      fill: $white;
    }
  }

  &__body-bottom {
    position: relative;
    height: calc(100% - 60px - 35px);

    @media (min-width: $screen-md) {
      display: flex;
    }
  }
}


