// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  height: 568px;
  background-color: $bg-dark;

  @media (min-width: $screen-md) {
    height: 580px;
  }

  @media (min-width: $screen-xl) {
    height: 600px;
  }

  $block-name:                &; // #{$block-name}__element
}
