// В этом файле должны быть стили для БЭМ-блока share-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.share-block {

  $block-name:                &; // #{$block-name}__element

  &__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: $text-color--light;

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      fill: currentColor;
    }

    &:hover {
      text-decoration: none;
      color: $main-color;
    }
  }
}
