// В этом файле должны быть стили для БЭМ-блока disqus, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.disqus-block {
  padding-top: 20px;
  border-top: 2px solid $gray-lightest;

  $block-name:                &; // #{$block-name}__element

}
